.card-link{
    text-decoration: none;
    cursor: pointer;
    
}

.unavailable-card{
    filter: opacity(0.8);
    filter: grayscale(60%);
    cursor: initial;
}
.cards-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
}
.search-cont{
    width: 100vw;
    display: grid;
    justify-items: center;
}

.card-link:hover{
    transition: opacity .2s ease-in-out;
    opacity: 0.8;
}

.search-title-origin{
font-size: 1.5em;

margin-top: 20px;
margin-bottom: 20px;
}
.search-title{
    font-size: 1.5em;

}

.arrowLeftIcon{
    height: 40px;
    width:40px;
    cursor: pointer;
    color: rgb(14, 37, 37);

}

.title-cont-search{
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100vw;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  

}